.header {
  background-color: #719cc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 20px;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0px;
}

footer {
  margin-top: auto;
}

.trybewarts-login {
  display: flex;
  padding: 5px;
  gap: 7px;
  height: 30px;
}

.border-style {
  border: solid white 1px;
  border-radius: 7px;
}

.text-style {
  font-family: 'Merienda', cursive;
  font-size: 13px;
}

hr {
  border-style: double;
  border-width: 0.1px;
  width: 100%;
  background-color: black;
  color: rgb(108, 142, 185);
}

#botao-entrar {
  font-size: 12px;
  width: 65px;
}

main , #evaluation-form {
  display: flex;
  padding: 15px;
}

main {
  justify-content: space-around;
  align-items: center;
  padding-bottom: 58px;
  background-color: #f0f5fb;
}

#evaluation-form {
  margin-top: 50px;
  width: 675px;
  height: 590px;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #b6cfe8;
}

.trybewarts-header-logo {
  width: 90px;
  padding: 5px;
  margin-right: 256.3px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fullname-emailhouse {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.fullname , .email-house {
  display: flex;
  gap: 5px;
  width: 700px;
  height: 25px;
}

.email-house {
  display: flex;
  justify-content: center;
}

#input-email {
  width: 60%;
}

#houses {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#house {
  width: 70%;
}

#family-checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-main-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 0px 10px;
}

.family-conteiner {
  display: flex;
  align-items: center;
  gap: 5px;
}

#checkbox-container {
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#textarea-submit-container {
  width: 100%;
}

#evaluation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 5px 0px 15px 0px;
}

#text-area-content {
  padding: 0px 8px;
}

textarea {
  width: 100%;
  resize: none;
}

#agreement-container {
  margin-top: 15px;
}

.form-content {
  width: 100%;
}

#submit-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 115px;
  height: 25px;
  border: solid grey 1px;
  border-radius: 7px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #48507b;
  color: white;
}
